<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Productos</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styles.css" />
    <link
      rel="icon"
      type="image/png"
      href="./img/Picsart_23-11-29_12-56-35-364.png"
    />
  </head>
  <body>
    <header id="header">
      <a href="index.html" class="menu">
        <img
          class="logo"
          src="img/Picsart_23-11-29_12-56-35-364.png"
          alt="Car Wash"
        />
      </a>
      <nav>
        <a href="index.html">Inicio</a>
        <a href="servicios.html">Servicios</a>
        <a href="turnos.html">Turnos</a>
        <a href="productos.html">Productos</a>
        <a href="nosotros.html">Nosotros</a>
        <a href="contacto.html">Contacto</a>
      </nav>
    </header>
    <main>
      <div class="container" id="app">
        <form
          style="
            background-color: aliceblue;
            margin: 10px auto;
            width: 400px;
            padding: 20px;
          "
        >
          <h1>Alta de Producto</h1>
          <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" v-model="nombre" />
          </div>
          <div class="mb-3">
            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio" v-model="precio" />
          </div>
          <div class="mb-3">
            <label for="stock">Stock</label>
            <input type="number" name="stock" id="stock" v-model="stock" />
          </div>
          <div class="mb-3">
            <label for="imagen">Imagen</label>
            <input type="text" name="imagen" id="imagen" v-model="imagen" />
            <img width="100" :src="imagen" alt="" />
          </div>

          <button type="button" class="btn btn-success" v-on:click="grabar()">
            Grabar
          </button>
        </form>
      </div>
    </main>
    <footer>
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>Acerca de</h6>
              <p class="text-justify">
                En Car Wash, nos enorgullecemos de ofrecer un servicio excepcional en el cuidado y lavado de automóviles. Con una trayectoria consolidada en el mercado, nos hemos comprometido a brindar una experiencia incomparable a nuestros clientes.<br>
                 Desde nuestros inicios, hemos perfeccionado nuestros métodos y técnicas para proporcionar un lavado de autos de alta calidad que resalta por su precisión y dedicación.

              </p>
            </div>

            <div class="col-xs-6 col-md-3">
              <h6>Categorias</h6>
              <ul class="footer-links">
                <li>
                  <a href="serviciodelimpieza.html">Servicio de Limpieza</a>
                </li>
                <li>
                  <a href="pulidodepintura.html"
                    >Pulido de Pintura</a
                  >
                </li>
                <li>
                  <a href="cuidadodecubiertas.html"
                    >Cuidado de Cubiertas</a
                  >
                </li>
                <li>
                  <a
                    href="mantenimiento.html"
                    >mantenimiento</a
                  >
                </li>
               
              </ul>
            </div>

            <div class="col-xs-6 col-md-3">
              <h6>Enlaces Rápidos</h6>
              <ul class="footer-links">
                <li><a href="nosotros.html">Sobre Nosotros</a></li>
                <li><a href="contacto.html">Contactanos</a></li>
              
                  <a href="#"
                    >Politica de Privacidad</a
                  >
                </li>
                
              </ul>
            </div>
          </div>
          <hr />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">
                Copyright &copy; 2023 Todos los derechos reservados.
                <a href="index.html">Car Wash</a>.
              </p>
            </div>

          </div>
        </div>
      </footer>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="./js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/productos.js"></script>
  </body>
</html>
